<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCRSF books</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="simple.css">
  </head>
  <body>
    <header>
      <h1>MCRSF books</h1>
      <nav>
        {% for availableSection in availableSections %}
          <a href="/?section={{ availableSection }}">{{ availableSection|title }}</a>
        {% endfor %}
        <a href="/search.php">Search</a>
        <a href="/stats.php">Stats</a>
      </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
      Books from <a href="https://mcrscifi.wordpress.com/">Manchester Sci-fi Book Club</a><br>
      <a href="https://github.com/pwaring/mcrsf.xk7.net">Source code available on GitHub</a>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
