<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCRSF books</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="simple.css">
  </head>
  <body>
    <header>
      <h1><a href="/">MCRSF books</a></h1>
      <nav>
        <a href="/upcoming.php">Upcoming</a>
        <a href="/read.php">Read</a>
        <a href="/suggestions.php">Suggestions</a>
        <a href="/rejected.php">Rejected</a>
        <a href="/search.php">Search</a>
        <a href="/stats.php">Stats</a>
        <a href="/graphs.php">Graphs</a>
      </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
      Books from <a href="https://mcrscifi.wordpress.com/">Manchester Sci-fi Book Club</a><br>
      <a href="https://github.com/pwaring/mcrsf.xk7.net">Source code available on GitHub</a>
    </footer>
    {% block javascript %}{% endblock %}
  </body>
</html>
