{% extends 'base.twig.html' %}
{% block content %}
  <h2>{{ section|title }}</h2>
  {% if section == 'rejected' %}
    <p>Rejected books are ones which have been suggested but we've decided not to read. Common reasons for rejection are:</p>
    <ul>
      <li><strong>Length:</strong> Maximum of 400 pages, as we find that people don't have the time to read longer books.</li>
      <li><strong>Genre:</strong> We're a sci-fi book club rather than sci-fi and fantasy.</li>
      <li><strong>Availability:</strong> Must have an eBook and paperback at a reasonable price (generally less than £10). We don't usually read books that are out of print or only in hardback.</li>
      <li><strong>Advocate:</strong> Whoever suggests the book usually takes the lead in the discussion. If no one is willing to do this then we tend to reject the book.</li>
    </ul>
    <p>Rejection means that we don't think the book is a good fit for our club, not that it's a bad book or that we don't recommend reading it. For example, several members have read and enjoyed Children of Time, but at 600 pages it's too long for the club.</p>
  {% elseif section == 'read' %}
    <p><strong>Score:</strong> We score individually out of 5, and the value listed in the table is an average of the scores. Anything scoring 4 or above generally met with our approval. We don't have scores for some of the earlier books, and sometimes we have the author attend for a Q&A - in those cases we don't always score the book.</p>
    <p><strong>Score Type:</strong> We try to choose something amusing to score out of which is related to the book.</p>
  {% elseif section == 'suggestions' %}
    <p>These books have been suggested by one or more members of the group, or on social media. A book being listed here doesn't mean that we will definitely read it - the list is to allow us to remember what books we've suggested already.</p>
  {% elseif section == 'upcoming' %}
    <p>These are the next few books we are planning to read and have set a date for - though occasionally we will move books around if publication is delayed or the person advocating the book can't make it.</p>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Authors</th>
        <th>Pages</th>
        {% if section == 'read' or section == 'upcoming' %}
          <th>Date Read</th>
        {% endif %}
        {% if section == 'read' %}
          <th>Score</th>
          <th>Score Type</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>
            {% if book.website %}
                <a href="{{ book.website }}">{{ book.title }}</a>
            {% else %}
                {{ book.title }}
            {% endif %}
          </td>
          <td><a href="search.php?authors={{ book.authors }}">{{ book.authors }}</a></td>
          <td>{{ book.pages }}</td>
          {% if section == 'read' or section == 'upcoming' %}
            <td>{{ book.date_read }}</td>
          {% endif %}
          {% if section == 'read' %}
            <td>{{ book.score }}</td>
            <td>{{ book.score_type }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}