{% extends 'base.twig.html' %}
{% block content %}
  <h2>Search</h2>
  <form action="/search.php" method="get">
    <p>
        <label for="title">Title</label>
        <input id="title" type="search" name="title" value="{{ title }}">
    </p>
    <p>
        <label for="authors">Authors</label>
        <input id="authors" type="search" name="authors" value="{{ authors }}">
    </p>
    <p>
      <label for="minimum_score">Minimum Score</label>
      <input id="minimum_score" type="number" name="minimum_score" step="0.01" min="0" max="5" value="{{ minimumScore }}">
    </p>
    <p>
      <label for="maximum_score">Maximum Score</label>
      <input id="maximum_score" type="number" name="maximum_score" step="0.01" min="0" max="5" value="{{ maximumScore }}">
    </p>
    <button type="submit">Search</button>
  </form>
  {% if books|length > 0 %}
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Pages</th>
            <th>Date Read</th>
            <th>Score</th>
            <th>Score Type</th>
            <th>Section</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
            <td>
              {% if book.website %}
                  <a href="{{ book.website }}">{{ book.title }}</a>
              {% else %}
                  {{ book.title }}
              {% endif %}
            </td>
            <td>{{ book.authors }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.date_read }}</td>
            <td>{{ book.score }}</td>
            <td>{{ book.score_type }}</td>
            <td>{{ book.section|title }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  {% else %}
    <p>No books found matching your search criteria.</p>
  {% endif %}
{% endblock %}